{# KEYDOWN #}
{# <button>Клик</button>
		<div class="div">Элемент div</div> #}

{# CLICK #}

{# <button>Клик</button>
    <div class="div" style = "border:1px solid red">Элемент div</div> #}

{# HOVER #}
{# <div class="div"></div> #}

{# MOUSEMOVE #}
{# 
<div class="div"></div>
<div class="div"></div> #}

{# RESIZE #}

{# <button>Клик</button>
		<p></p> #}

{# FORM CHANGE #}

{# <button>Клик</button>
		1<input  type = "radio" name = "smth">
		2<input  type = "radio" name = "smth"><br><br>
		<select>
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select><br><br>
		1<input  type = "checkbox">2<input  type = "checkbox"><br><br>
		<input  value = "Измени меня"><br><br>
		<textarea>Измени меня</textarea>
		<p></p> #}

{# SUBMIT #}

{# <button>Trigger submit</button><br><br>
		<form>
			<input type = "text" name = "login"  placeholder = "Login" required>
			<input type = "password" name = "password"  placeholder = "Password" required>
			<input type = "submit">
		</form>
        <span></span> #}