<!-- <div class="bg"></div>
<div class="bg"></div>
<div class="bg"></div>
<div class="bg"></div>
<div class="bg"></div>
<p class="p">Added this... (notice no border)</p>
<p class="p">Added this... (notice no border)</p> -->

<br>

<!-- <ul>
    <li>Элемент 1</li>
    <li class = "second">Элемент 2</li>
    <li>Элемент 3</li>
    <li>Элемент 4</li>
</ul>
<ul>
    <li class = "first active">Элемент 1</li>
    <li>Элемент 2</li>
    <li>Элемент 3</li>
    <li>Элемент 4</li>
    <li class = "active">Элемент 5</li>
    <li>Элемент 6</li>
</ul> -->

<!-- <br> -->

<!-- ATTR -->
<!-- <button>Клик</button>
<p>Первый абзац</p>
<p>Второй абзац</p>
<p>Третий абзац</p> -->

<!-- CLONE -->

<!-- <button>Клик</button><br><br>
		<form>
			<label>Мужчина <input  type = "radio" name = "sex" value = "male"></label>
			<label>Женщина <input type = "radio" name = "sex" value =  "female"></label><br>
			<label>Больше 18 <input type = "checkbox" name = "type1" value = "low"</label>
			<label>Меньше 18 <input type = "checkbox" name = "type2" value = "2old">></label><br>
        </form> -->
        
<!-- CSS -->

<!-- <button>Клик</button>
        <div class="div" style="width: 100px; height: 100px; background: yellow;"></div> -->
        
<!-- DETACH // EMPTY -->
<!-- <button>Клик</button>
		<p style="border: 1px solid green"><span>РАЗ</span></p>
		<p style="border: 1px solid green">Два</p>
        <p style="border: 1px solid green">Три</p> -->
        

<!-- HAS CLASS -->
<!-- <div class = "div test test2"></div> -->

<!-- HTML -->
<!-- <button>Клик</button>
		<p>Простой абзац</p>
		<p>Не простой абзац</p>
        <p>Сложный абзац</p> -->
        
<!-- OFFSET -->
<!-- <button>Клик</button>
		<p>My position</p> -->

{# PROP #}
{# <label><input type = "checkbox" checked = "checked"> Почувствуй разницу</label>
    <div class="div"></div> #}

{# <button class = "checkbox">Checkbox</button>
		<button class = "radio"> Radio</button><br><br>	
		<input type = "checkbox" checked = "checked">
		<input type = "checkbox">
		<input type = "checkbox" checked = "checked">
		<input type = "checkbox">
		<input type = "radio" checked = "checked">
		<input type = "radio">
		<input type = "radio" checked = "checked">
		<input type = "radio"> #}

{# REMOVE PROP #}

{# <button class = "set">Установить свойство</button>
		<button class = "remove">Удалить свойство</button><br><br>
		<p></p> #}

{# REMOVE ALL #}
{# <button>Клик</button>
		<p>Первый параграф</p>
		<p>Второй параграф</p>
		<p>Третий параграф</p>
		<hr>
		<div class = "first">Первый блок</div>
		<div class= "second">Второй блок</div>
		<div class= "third">Третий блок</div>
		<hr>
		<a href = "#">1</a><a href = "#">2</a><a href = "#">3</a> #}

{# SCROLL TOP #}
{# <button>Клик</button>
		<div class="scroll">Какой чудесный день. Какой чудесный пень. Какой чудесный день. Какой чудесный пень.</div>
		<div class="scroll">Какой чудесный день. Какой чудесный пень. Какой чудесный день. Какой чудесный пень.</div> #}

{# TOGGLE CLASS #}

{# <button>Клик</button>
		<ul>
			<li>List item 1</li>
			<li>List item 2</li>
			<li>List item 3</li>
			<li>List item 4</li>
		</ul> #}

{# WRAP #}

{# <button>Клик</button>
		<p>Обычный абзац</p>
		<p>Второй обычный абзац</p> #}

{# <button>Клик</button>
		<span>Обычный span</span>
		<span>Второй обычный span</span> #}

{# UNWRAP #}

{# <button>Клик</button>
		<div class = "test">
			<p>Обычный абзац</p>
		</div>
		<div>
			<p>Обычный абзац во втором блоке</p>
		</div> #}

{# WRAP ALL, WRAPP INNER #}
{# <button>Клик</button>
		<span>Обычный span</span>
		<p>Обычный абзац</p>
		<span>Второй обычный span</span> #}

{# VAL #}

	{# <button>Клик</button>
		<div class = "firstTest">
			<input type = "text" value = "firstELement">
			<input type = "text" value = "secondELement"><br><br>
		</div>
		<div class = "secondTest">
			<input type = "checkbox" name = "checkboxname" value = "check1">check1
			<input type = "checkbox" name = "checkboxname" value = "check2">check2
			<input type = "radio" name = "radio" value = "radio1">radio1
			<input type = "radio" name = "radio" value = "radio2">radio2
		</div>
		<select multiple>
			<option selected>Option1</option>
			<option>Option2</option>
			<option selected>Option3</option>
			<option>Option4</option>
		</select> #}

