<div class="slider js-slider">
    <div class="slider__slide js-slider-slide">
        <iframe class="video js-video" width="560" height="315" data-src="https://www.youtube.com/embed/RYZBKy8go10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="slider__slide js-slider-slide">
        <video class="video js-video" data-src="./video/video.mp4" controls></video>
    </div>
    <div class="slider__slide js-slider-slide">
        <iframe class="video js-video" width="560" height="315" data-src="https://www.youtube.com/embed/RYZBKy8go10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="slider__slide js-slider-slide">
        <video class="video js-video" data-src="./video/video.mp4" controls></video>
    </div>

</div>